[Desktop Entry]
Name=QQMusic
Comment=
Exec=/media/sonichy/job/HY/Linux/Qt/QQMusic/QQMusic
Icon=/media/sonichy/job/HY/Linux/Qt/QQMusic/icon.ico
Path=/media/sonichy/job/HY/Linux/Qt/QQMusic
Terminal=false
Type=Application
MimeType=
Categories=
